* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header img {
    border-radius: 50%;
    width: 150px;
    height: 123px;
}

.animacion__logo img:hover {
    transform: rotate(20deg);
}

header {
    display: flex;
    width: 100vw;
    height: 123px;
    background: linear-gradient(85deg, #020024 0%, #090979 35%, #00d4ff) 100%;
}

body {
    overflow-x: hidden;
}


h1 {
    width: 450px;
    position: relative;
    left: 500px;
    bottom: 100px;
    font-size: 32px;
    font-family: sans-serif;
}


ul {
    list-style: none;
}

li {
    padding: 10px;
    display: inline;
}

a {
    text-decoration: none;
    color: black;

}


nav {
    position: relative;
    top: 80px;
    left: -6em;
}

nav a:hover {
    background-color: crimson;
    color: white;
    font-size: x-large;
}

.header__registro {
    position: relative;
    height: 30px;
    width: 255px;
    left: 81em;
    bottom: 160px;
}

.header__buscador {
    position: relative;
    width: 216px;
    left: 52em;
    top: 2em;

}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: darkmagenta;
}


/**************************************************************** main ******************************************************************************/

.primeros__productos {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.primeros__productos p {
    position: relative;
    top: 250px;
    right: 250px;
    font-size: 20px;
}

.primeros__productos img:hover {
    transform: scale(0.9, 0.9);
}

.segundos__productos {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.segundos__productos p {
    position: relative;
    top: 250px;
    right: 250px;
    font-size: 20px;
}

.segundos__productos img:hover {
    transform: scale(0.9, 0.9);
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.iframe-img {
    display: flex;
    justify-content: space-around;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;

}

footer {
    position: relative;
    top: 40px;
    background: linear-gradient(85deg, rgba(2, 0, 36, 1) 0%, rgba(50, 52, 102, 1) 45%, rgba(172, 172, 172, 1) 100%);
    height: 250px;
}

.footer__content {
    display: flex;
    justify-content: center;
    font-size: larger;

}

.footer__content p {
    position: relative;
    top: 50px;
}

.footer__content a {
    position: relative;
    top: 50px;
}

/*****************************hombres***************************/

.productos__hombre {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;

}
.productos__hombre img:hover{
    transform: scale(0.9, 0.9);
}
.productos__hombre-2 {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}
.productos__hombre-2 img:hover{
    transform: scale(0.9, 0.9);
}

.productos__hombre p {
    position: relative;
    top: 280px;
    right: 200px;
    font-size: 20px;
}

.productos__hombre-2 p {
    position: relative;
    top: 295px;
    right: 180px;
    font-size: 20px;
}

/*****************************mujeres***************************/

.productos__mujer {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.productos__mujer p {
    position: relative;
    top: 320px;
    right: 265px;
    font-size: 20px;
}

.productos__mujer__2 {
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.productos__mujer__2 p {
    position: relative;
    top: 300px;
    right: 220px;
    font-size: 20px;
}



/*****************************marcas***************************/

.marcas__1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

.marcas__2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

/*****************************contacto***************************/

form {
    margin-bottom: 280px;
}

.form__contacto {
    margin-bottom: 280px;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    left: 24em;
}


/**************************registro********************************/
.main__registro {
    display: flex;
    justify-content: center;
    height: 300px;
}

.registro__form {
    background-color: black;
    padding: 50px 40px;
    width: 300px;
    height: 180px;
}

.button__input {
    position: relative;
    top: 16px;
    left: 73px;
}

.log__info {
    position: relative;
    left: 30px;
}

/* inicio sesion */

.main__log {
    display: flex;
    justify-content: center;
    height: 300px;
}

.log__form {
    background-color: black;
    padding: 49px 68px;
    ;
    width: 300px;
    height: 180px;
}

.boton__input__log {
    position: relative;
    top: 20px;
    left: 39px;
}


@media screen and (max-width:500px) {
    header {
        width: 235vw;
    }

    h1 {
        left: 200px;
    }

    nav {
        left: -26em;
    }

    .header__buscador {
        left: 18em;
    }

    .header__registro {
        left: 46em;
    }

    h2 {
        position: relative;
        left: 165px;
    }

    main {
        width: 140vw;
        height: 400vh;
    }

    .primeros__productos {
        flex-direction: column;
        position: relative;
        left: 298px;
        height: 723px;
        width: 278px;
        gap: 54px;
    }

    .primeros__productos p {
        position: relative;
        top: 0px;
        left: 17px;
        font-size: 25px;
    }

    .segundos__productos {
        flex-direction: column;
        height: 1013px;
        width: 278px;
        gap: 54px;
        position: relative;
        top: 344px;
        left: 295px;
    }

    .segundos__productos p {
        position: relative;
        top: 0px;
        left: 17px;
        font-size: 25px;
    }

    iframe {
        display: none;
    }

    h3 {
        display: inline;
        position: relative;
        left: 329px;
    }

    .iframe-img img {
        position: relative;
        left: 204px;
        margin-top: 20px;
    }


    footer {
        width: 234vw;
        height: 48vh;
    }

    h4 {
        position: relative;
        right: 120px;
    }


    .info__footer {
        position: relative;
        top: 60px;
        right: 377px;
    }


    /* hombre */

    .productos__hombre {
        flex-direction: column;
        position: relative;
        left: 298px;
        height: 50%;
        width: 253px;
        gap: 39px;
    }

    .productos__hombre p {
        position: relative;
        top: 0px;
        left: 17px;
        font-size: 30px;
    }

    .productos__hombre-2 {
        flex-direction: column;
        height: 1184px;
        width: 251px;
        gap: 54px;
        position: relative;
        top: -271px;
        left: 295px;
    }

    .productos__hombre-2 p {
        position: relative;
        top: 0px;
        left: 17px;
        font-size: 30px;
    }

    .main__hombre {
        width: 208vw;
        height: 458vh;
    }

    .h2-hombre {
        left: 0px;
    }

    /* mujer */
    .h2__mujer {
        position: relative;
        left: -12px;
    }

    .main__mujer {
        width: 208vw;
        height: 470vh;
    }

    .productos__mujer {
        flex-direction: column;
        position: relative;
        left: 298px;
        height: 50%;
        width: 253px;
        gap: 48px;
        margin-bottom: 50px;
    }

    .productos__mujer__2 {
        flex-direction: column;
        position: relative;
        left: 298px;
        height: 50%;
        width: 253px;
        gap: 50px;
    }

    .productos__mujer p {
        position: relative;
        top: 0px;
        right: 0px;
        font-size: 30px;
    }

    .productos__mujer__2 p {
        position: relative;
        top: -43px;
        right: 3px;
        font-size: 30px;
    }

    /* marcas */
    .h2__marcas {
        position: relative;
        left: 9px;
    }

    .main__marcas {
        width: 191vw;
        height: 98vh;
    }

    /* contacto */

    .h3__contacto {
        left: 16em;
    }

    .main__contacto {
        height: 50vh;
        width: 99vw;
    }

    .form__contacto {
        margin-top: 84px;
        margin-bottom: 0px;
        left: 20em;
    }

    .footer__contacto {
        top: 48em;
    }


    /* inicio de sesion */


    .h3__log {
        left: 17em;
    }

    .main__log {
        width: 127vw;
        justify-content: flex-end;
    }

    .log__form {
        margin-top: 2em;
    }

    .footer__log {
        top: 48em;
    }

    /* registro */

    .h3__registro {
        left: 17em;
    }

    .main__registro {
        width: 127vw;
        justify-content: flex-end;

    }

    .registro__form {
        margin-top: 2em;
    }

    .footer__registro {
        top: 48em;
    }



}