header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 123px;
    background: linear-gradient(85deg, #020024 0%, #090979 35%, #00d4ff) 100%;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 123px;
}

header h1 {
    width: 450px;
    position: relative;
    left: 500px;
    bottom: 100px;
    font-size: 32px;
    font-family: sans-serif;
}

header nav {
    position: relative;
    top: 80px;
    left: -6em;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    padding: 10px;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: crimson;
    color: white;
    font-size: x-large;
}

.animacion__logo img:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}