.productos__hombre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.productos__hombre p {
    position: relative;
    top: 280px;
    right: 200px;
    font-size: 20px;
}

.productos__hombre img:hover {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}

.productos__hombre-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}

.productos__hombre-2 p {
    position: relative;
    top: 295px;
    right: 180px;
    font-size: 20px;
}

.productos__hombre-2 img:hover {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}