.form__contacto {
    background-color: gold;
    border-radius: 20px;
    margin: 0 auto;
    width: 300px;
    height: 450px;
    padding: 10px;
}

.formbtn {
    position: relative;
    left: 6em;
}

.btn {
    border-radius: 3px !important;
    display: inline-block !important;
    text-decoration: none;
}

.btn-green {
    color: white !important;
    background-color: green !important;
}