.hombre__1{
    display: flex;
    margin: 5rem 0rem 15rem 8rem;

    p{
    position: relative;
    top: 16rem;
    right: 13rem;
    }
}

.hombre__2{
    display: flex;
    margin: 0rem 0rem 20rem 8rem;


    p{
        position: relative;
        top: 18rem;
        right: 14rem;
    }
}

.boton__hombre {
    position: relative;
    top: 20rem;
    right: 22rem;
}

.boton__hombre-2 {
    position: relative;
    top: 23rem;
    right: 22rem;
}
