.main__log {
    display: flex;
    justify-content: center;
    height: 300px;
}

.log__form {
    background-color: black;
    padding: 49px 68px;
    ;
    width: 300px;
    height: 180px;
}

.boton__input__log {
    position: relative;
    top: 20px;
    left: 39px;
}