.productos__mujer {
    display: flex;
    margin: 5rem 0rem 15rem 8rem;

    p {
        position: relative;
        top: 20rem;
        right: 13rem;
    }
}

.productos__mujer__2 {
    display: flex;
    margin: 5rem 0rem 15rem 8rem;

    p {
        position: relative;
        top: 19rem;
        right: 13rem;
    }
}

.boton__mujer {
    position: relative;
    top: 25rem;
    right: 22rem;
}

.ajuste__mujer {
    left: -9rem;
}

.ajuste {
    left: -18rem;
}