$colores: (
    bg-hover: crimson ,
    color-hover: white ,
    ancla-color: black ,
);

@mixin flex ($flex, $jc-center, $jc-se ) {
    display: $flex ;
    justify-content: $jc-center;
    justify-content: $jc-se;
}

%productos{
    display: flex;
    margin-bottom: 150px;
    margin-left: 80px;
}